<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul #metisMenu class="nav metismenu" >
            <li *ngFor="let menu of menuArray">
                <a href="{{menu.link}}" *ngIf="menu.link">
                    <i class="fa fa-fw" [ngClass]="menu.icon" *ngIf="menu.icon"></i>
                    {{menu.name}}<span class="fa arrow" *ngIf="menu.children"></span>
                </a>
                <a routerLink="{{menu.route}}" *ngIf="menu.route">
                    <i class="fa fa-fw" [ngClass]="menu.icon" *ngIf="menu.icon"></i>
                    {{menu.name}}<span class="fa arrow" *ngIf="menu.children"></span>
                </a>
                
                <ul class="nav nav-second-level" *ngIf="menu.children">
                    <li *ngFor="let sonMenu of menu.children">
                        <a href="{{sonMenu.link}}" *ngIf="sonMenu.link">
                            <i class="fa fa-fw" [ngClass]="sonMenu.icon" *ngIf="sonMenu.iocn"></i>
                            {{sonMenu.name}}<span class="fa arrow" *ngIf="sonMenu.children"></span>
                        </a>
                        <a routerLink="{{sonMenu.route}}" *ngIf="sonMenu.route">
                            <i class="fa fa-fw" [ngClass]="sonMenu.icon" *ngIf="sonMenu.iocn"></i>
                            {{sonMenu.name}}<span class="fa arrow" *ngIf="sonMenu.children"></span>
                        </a>
                        
                        <ul class="nav nav-third-level">
                            <li *ngFor="let grandsonMenu of sonMenu.children">
                                <a href="{{grandsonMenu.link}}" *ngIf="grandsonMenu.link">
                                    <i class="fa fa-fw" [ngClass]="grandsonMenu.icon" *ngIf="grandsonMenu.iocn"></i>
                                    {{grandsonMenu.name}}<span class="fa arrow" *ngIf="grandsonMenu.children"></span>
                                </a>
                                <a routerLink="{{grandsonMenu.route}}" *ngIf="grandsonMenu.route">
                                    <i class="fa fa-fw" [ngClass]="grandsonMenu.icon" *ngIf="grandsonMenu.iocn"></i>
                                    {{grandsonMenu.name}}<span class="fa arrow" *ngIf="grandsonMenu.children"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>